@media print {
    header * {
        display: none;
    }

    footer * {
        display: none;
    }

    .notprint {
        display: none;
    }

    #invoice-content {
        display: block !important;
    }
}